div{
    width:800px; height: 900px; font-family: Arial;background-color: rgba(0, 0, 0, 0.6);
	padding-top:10px; padding-left:50px; padding-right:50px; padding-bottom:50px
}
	
.first{
	color:green;
}

.second{
	color:white;
}

.third{
	color:orange;
}

.fourth{
	color:orange;
}

.fifth{
	color:orange;
}

.fifth{
	color:white
}